<h1><b>Bem-vindo a página inicial da clínica </b></h1>
<%= link_to "Página de paciente", pacientes_path %>
<%= link_to "Página de médico", medicos_path %>
<%= link_to "Página de consulta", consulta_path %>
